In [2]:
from langchain_community.utilities.sql_database import SQLDatabase
from langchain_openai import AzureChatOpenAI
from langchain_community.agent_toolkits import create_sql_agent
from langchain_community.vectorstores import FAISS
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_core.prompts import (
    ChatPromptTemplate,
    FewShotPromptTemplate,
    MessagesPlaceholder,
    PromptTemplate,
    SystemMessagePromptTemplate,
)
from langchain_openai import OpenAIEmbeddings
from langchain_openai import AzureOpenAIEmbeddings
import os

os.environ["AZURE_OPENAI_API_KEY"] = "api_key_here"
os.environ["AZURE_OPENAI_ENDPOINT"] = "api_endpoint_here"
os.environ["Azure_deployment"] = "deplyment_name_here"
os.environ["Azure_api_version"] = "api_version_here"
os.environ["POSTGRES_USERNAME"] = "postgres"
os.environ["POSTGRES_PASSWORD"] = "postgres_password_here"
DATABASE_URL = "database_url_here"
db = SQLDatabase.from_uri(DATABASE_URL)
examples = [
    {
        "input":"List all the employees who can work on front-end development",
        "query":"""SELECT employee_name,primary_skill,secondary_skill,tertiary_skill FROM employees WHERE primary_skill IN ('HTML', 'CSS', 'JavaScript', 'React.js', 'Angular.js', 'Vue.js') 
        OR secondary_skill IN ('HTML', 'CSS', 'JavaScript', 'React.js', 'Angular.js', 'Vue.js')
        OR tertiary_Skill IN ('HTML', 'CSS', 'JavaScript', 'React.js', 'Angular.js', 'Vue.js')
        OR Current_role IN ('Frontend Developer', 'UI Developer', 'Web Developer');
"""
    },
    
]

example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    AzureOpenAIEmbeddings(),
    FAISS,
    k=5,
    input_keys=["input"],
)
# DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.
system_prefix = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.



If the question does not seem related to the database, just return "I don't know" as the answer.

Here are some examples of user inputs and their corresponding SQL queries:"""

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=PromptTemplate.from_template(
        "User input: {input}\nSQL query: {query}"
    ),
    input_variables=["input", "dialect", "top_k"],
    prefix=system_prefix,
    suffix="",
)

full_prompt = ChatPromptTemplate.from_messages(
    [
        SystemMessagePromptTemplate(prompt=few_shot_prompt),
        ("human", "{input}"),
        MessagesPlaceholder("agent_scratchpad"),
    ]
)


llm = AzureChatOpenAI(
    azure_deployment="deployment_name_here",
    api_version="2023-07-01-preview",
    temperature=0,
    max_tokens=None,
    timeout=None,
    max_retries=2,
)
agent = create_sql_agent(
    llm=llm,
    db=db,
    prompt=full_prompt,
    verbose=True,
    agent_type="openai-tools",
)
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)
response = agent.invoke("Can you get me list of employees who are skilled in machine laearning and located in bangalore")
print(response)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


employees, employees_personal_details, people_table
Invoking: `sql_db_schema` with `{'table_names': 'employees, employees_personal_details'}`



CREATE TABLE employees (
	employee_id BIGINT NOT NULL,
	employee_name TEXT,
	grade TEXT,
	organisation_unit TEXT,
	curr_role TEXT,
	currently_assigned_to_a_project TEXT,
	currently_assigned_project_name TEXT,
	current_assignment_end_date TEXT,
	total_years_of_experience BIGINT,
	employee_profile_summary TEXT,
	primary_skill TEXT,
	primary_skill_years_of_experience BIGINT,
	secondary_skill TEXT,
	secondary_skill_years_of_experience BIGINT,
	tertiary_skill TEXT,
	tertiary_skill_years_of_experience BIGINT,
	industry_recognised_certifications TEXT,
	specialized_knowledge TEXT,
	education_qualification TEXT,
	major TEXT,
	current_performance_plan TEXT,
	CONSTRAINT employees_pkey PRIMARY KEY (employee_id)
)

/*
3 rows from employees table:
employee_id	employee_name	grade	organisation_unit	curr_role	currently_assigned_to_a_project	currently_assigned_project_name	current_assignment_end_date	total_years_of_experience	employee_profile_summary	primary_skill	primary_skill_years_of_experience	secondary_skill	secondary_skill_years_of_experience	tertiary_skill	tertiary_skill_years_of_experience	industry_recognised_certifications	specialized_knowledge	education_qualification	major	current_performance_plan
50093824	Deepak Sarkar	D1	Emerging technology and Experimentation	Sr Technical Architect - DevOps and Observability	No	Not applicable	Not applicable	16	Solutions Architect with 16 years of experience in IT and guiding the development of digital service	DevSecOps	5	Digital Product Management	6	Automation	4	AWS Certified Solution Architect - Associate	GitHub, Jenkins, Microsoft Power Automate, Power BI	B.Tech	Electronics and Instrumentation	Not eligible
50093825	Amit Patel	D2	Emerging technology and Experimentation	Software Engineer	Yes	Project Alpha	2024-12-31	5	Skilled Software Engineer with a focus on developing scalable applications and improving software pe	Python	3	Java	2	JavaScript	1	Oracle Certified Professional, Java SE 8 Programmer	Git, Docker, Kubernetes	B.Sc	Computer Science	Eligible
50093826	Samantha Jones	C1	Emerging technology and Experimentation	Project Manager	Yes	Project Beta	2024-11-30	10	Experienced Project Manager with a track record of successfully leading complex projects from incept	Project Management	6	Agile Methodologies	4	Risk Management	3	PMP - Project Management Professional	MS Project, JIRA, Trello	MBA	Business Administration	Eligible
*/


CREATE TABLE employees_personal_details (
	employee_id INTEGER NOT NULL,
	employee_name VARCHAR(255),
	salary INTEGER,
	age INTEGER,
	location VARCHAR(50),
	CONSTRAINT employees_personal_details_pkey PRIMARY KEY (employee_id),
	CONSTRAINT employees_personal_details_employee_id_fkey FOREIGN KEY(employee_id) REFERENCES employees (employee_id)
)

/*
3 rows from employees_personal_details table:
employee_id	employee_name	salary	age	location
50093824	Deepak Sarkar	107755	59	Bangalore
50093825	Amit Patel	73358	31	Bangalore
50093826	Samantha Jones	160652	45	Bangalore
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT e.employee_name, e.primary_skill, e.secondary_skill, e.tertiary_skill, epd.location \nFROM employees e \nJOIN employees_personal_details epd ON e.employee_id = epd.employee_id \nWHERE (e.primary_skill = 'Machine Learning' OR e.secondary_skill = 'Machine Learning' OR e.tertiary_skill = 'Machine Learning') \nAND epd.location = 'Bangalore' \nLIMIT 10;"}`


The original query does not contain any of the common mistakes listed. Here is the final SQL query:

```sql
SELECT e.employee_name, e.primary_skill, e.secondary_skill, e.tertiary_skill, epd.location
FROM employees e
JOIN employees_personal_details epd ON e.employee_id = epd.employee_id
WHERE (e.primary_skill = 'Machine Learning' OR e.secondary_skill = 'Machine Learning' OR e.tertiary_skill = 'Machine Learning')
AND epd.location = 'Bangalore'
LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': "SELECT e.employee_name, e.primary_skill, e.secondary_skill, e.tertiary_skill, epd.location \nFROM employees e \nJOIN employees_personal_details epd ON e.employee_id = epd.employee_id \nWHERE (e.primary_skill = 'Machine Learning' OR e.secondary_skill = 'Machine Learning' OR e.tertiary_skill = 'Machine Learning') \nAND epd.location = 'Bangalore' \nLIMIT 10;"}`


[('Michael Brown', 'Data Analysis', 'Machine Learning', 'Statistical Analysis', 'Bangalore')]The employee skilled in machine learning and located in Bangalore is:

- **Michael Brown**:
  - Primary Skill: Data Analysis
  - Secondary Skill: Machine Learning
  - Tertiary Skill: Statistical Analysis

> Finished chain.
{'input': 'Can you get me list of employees who are skilled in machine laearning and located in bangalore', 'output': 'The employee skilled in machine learning and located in Bangalore is:\n\n- **Michael Brown**: \n  - Primary Skill: Data Analysis\n  - Secondary Skill: Machine Learning\n  - Tertiary Skill: Statistical Analysis'}

In [ ]:
#python fucntion to parse a pdf document