In [3]:
import os
import openai
from llama_index.llms.azure_openai import AzureOpenAI
from llama_index.embeddings.azure_openai import AzureOpenAIEmbedding
from llama_index.core import SQLDatabase
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
    select,
)

api_key = os.getenv("AZURE_OPENAI_API_KEY")
azure_endpoint = os.getenv("AZURE_OPENAI_ENDPOINT")
api_version = os.getenv("AZURE_OPENAI_API_VERSION")
deployment_name = os.getenv("AZURE_OPENAI_DEPLOYMENT_NAME")
# deployment_name = "msgenai"
DATABASE_URL = f"postgresql://postgres:{os.getenv("POSTGRES_PASSWORD")}@localhost:5432/postgres?connect_timeout=10&sslmode=prefer"
engine = create_engine(DATABASE_URL)
metadata_obj = MetaData()
sql_database = SQLDatabase(engine, include_tables=["employees","people_table"])

In [13]:
from llama_index.core.query_engine import NLSQLTableQueryEngine
from llama_index.core import Settings
import os
Settings.embed_model = AzureOpenAIEmbedding(
    model="text-embedding-ada-002",
    deployment_name="text-embedding-3-large",
    api_key=api_key,
    azure_endpoint=azure_endpoint,
    api_version="2023-05-15",
)

llm = AzureOpenAI(
    deployment_name=deployment_name,
    api_key=os.getenv("AZURE_OPENAI_API_KEY"),
    azure_endpoint=os.getenv("AZURE_OPENAI_ENDPOINT"),
    api_version=os.getenv("AZURE_OPENAI_API_VERSION"),
)
query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database, tables=["employees","people_table"], llm=llm
)
# Michael Brown
query_str = "Can you tell me about Alice from people_table?"
response = query_engine.query(query_str)
print(response)

Alice is a 25-year-old individual living in New York. She was added to the people_table on February 18, 2025, at 10:13:54 AM.

In [33]:
from llama_index.core.indices.struct_store.sql_query import (
    SQLTableRetrieverQueryEngine,
)
from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core import VectorStoreIndex

Settings.llm = AzureOpenAI(
    deployment_name="msgen4o",
    api_key=os.getenv("AZURE_OPENAI_API_KEY"),
    azure_endpoint=os.getenv("AZURE_OPENAI_ENDPOINT"),
    api_version=os.getenv("AZURE_OPENAI_API_VERSION"),
)
# set Logging to DEBUG for more detailed outputs
table_node_mapping = SQLTableNodeMapping(sql_database)
employee_table_context = """
"""
table_schema_objs = [
    (SQLTableSchema(table_name="employees")),
    (SQLTableSchema(table_name="employees_personal_details",
                    context_str="This table contains personal details of employees such as their names, location:where there currently located, salary and age."))
]  # add a SQLTableSchema for each table


obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,
)
query_engine = SQLTableRetrieverQueryEngine(
    sql_database, obj_index.as_retriever(similarity_top_k=1)
)

In [34]:
response = query_engine.query("Can you get me  the list of employees whose location is bangalore")
# display(Markdown(f"{response}"))
print(response)

It appears that there are no employees listed in the database whose location is Bangalore. If you need further assistance or have any other queries, please let me know!